<div style="position:relative">
    <style>
        .pagecontrol-box{
            display: inline-block;
            text-align: center;
            margin-top:5rem;
        }
        .pagecontrol-item{
            float: left;
            width: .6rem;
            height: .5rem;
            text-align: center;
            line-height: .5rem;
            border:.01rem solid black;
        }
        .active{
            background: red;
        }
        .exam-name{
            color: #3aa9ce;
        }
        .exam-isopen{
            color: #3aa9ce;
        }
        .exam-strat, .exam-end{
            padding: .1rem;
            box-sizing: border-box;
        }
        .exam-strat span, .exam-end span {
            background: orange;
            color: white;
            font-size: .14rem;
            padding: .03rem;
        }
        .table-view-cell{
            text-align: center;
        }        
    </style>
    <div style="position:absolute;left:0;top:0;width:100%">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr > <th style="text-align:center">试卷名称</th> <th style="text-align:center">是否开放</th> <th style="text-align:center">开始时间</th> <th style="text-align:center">结束时间</th> <th style="text-align:center">考试操作</th></tr>
            <tr ng-repeat="item in listData" class="table-view-cell">

                <td class="exam-name"><input type="text" ng-model="item.name" ng-show="item.show"> {{item.name}}</td>
                
                <td class="exam-isopen"><input type="text" ng-model="item.isOpenFormat" ng-show="item.show"> {{item.isOpen | formatOpenState}}</td>
                
                <td class="exam-strat"><input type="text" ng-model="item.startTimeFormat" ng-show="item.show"> <span>{{item.startTime | date:'yyyy-MM-dd hh:mm:ss' }}</span></td>
                
                <td class="exam-end"><input type="text" ng-model="item.endTimeFormat" ng-show="item.show"> <span>{{item.endTime | date:'yyyy-MM-dd hh:mm:ss' }}</span></td>
                
                <td class="exam-control"><button class="btn btn-info btn-sm" ng-click="edit($event,item)">编辑</button><button class="btn btn-info btn-sm" style="margin-left:0.05rem" ng-click="delete(item.id)">删除</button></td>
            </tr>
        </table>
    </div>
    <div style="text-align:center">
        <span class="pagecontrol-box" ng-show="maxPage">
            <div  class="pagecontrol-item" ng-show="maxPage>1" ng-click="self.manager.goPre()">上一页</div>
            <div ng-class="firstBtnClass" ng-click="self.manager.go(1)" class="pagecontrol-item" ng-show="maxPage">1</div>
            <div  class="pagecontrol-item" ng-show="pre">...</div>
            <div ng-class="{{'active'+value}}" ng-click="self.manager.go(value)" class="pagecontrol-item" ng-repeat="value in btnArr">{{value}}</div>
            <div  class="pagecontrol-item" ng-show="next">...</div>
            <div ng-class="lastBtnClass" ng-click="self.manager.go(maxPage)" class="pagecontrol-item" ng-show="maxPage>1">{{maxPage}}</div>
            <div  class="pagecontrol-item" ng-show="maxPage>1" ng-click="self.manager.goNext()">下一页</div>
        </span>
    </div>

</div>